.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  justify-content: center;
  justify-items: center;
  margin: 40px;
}
.price {
  margin-left: 30%;
}
.image {
  margin-left: 30%;
}
.remove {
  margin-left: 30%;
}
